- expenses_by_most_recent.each do |e|
  -# %li.card.mb-3.shadow-sm
    .card-body
  .card.mb-2.shadow-sm
    .card-body.px-4.py-2
      .d-flex.flex-row.justify-content-between.m-0
        %h5.card-title.m-0= e.name
        %h5.card-title.m-0= number_to_currency(e.amount)
      %div.w-100.d-flex.flex-row.justify-content-between.align-items-center.mt-2
        %small.card-subtitle.text-muted= formated_date(e)
        %div
          %small.card-subtitle.mr-2
            = link_to expense_path(e), method: :delete, class: 'text-muted' do
              Edit
              %i.fas.fa-edit
          %small.card-subtitle
            = link_to expense_path(e), method: :delete, class: 'text-danger' do
              Delete
              %i.fas.fa-trash-alt
      -# = kke.name, class: 'card-title'
      -# = link_to expense_path(expense), method: :delete do
        %i.fas.fa-door-open.
