- provide(:title, user_name)
.row
  .col-xl.bg-white.p-4.d-flex.justify-content-between.shadow-sm
    %h3.m-0 Gift credit:
    %h3.m-0= total_expenses_current_user
  %nav.col-xl.px-4.py-2
    hello
  .col-xl.p-3
    %p= expenses_by_most_recent.count

    .overflow
      - expenses_by_most_recent.each do |e|
        %li.card.mb-3.shadow-sm
          .card-body
            = e.name
            = e.amount
            = e.created_at.year
            = link_to expense_path, method: :delete do
              %i.fas.fa-door-open

    %p Find me in app/views/users/show.html.haml
