!!!
%html{ lang: 'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = csp_meta_tag
    -# %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity: "sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin: "anonymous"}
    %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity: "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin: "anonymous"}
    = bootstrap_js
  %body.container-fluid.bg-color
    = show_navbar_unless_root_path
    .row.d-flex.flex-column.h-100
      - flash.each do |type, msg|
        .alert.alert-info.p-2.m-3.position-absolute.fixed-top
          = msg
      .col.bg-color.h-100
        = yield
  :javascript
    setTimeout(function () {
      $('.alert').addClass('show').alert('close')
    }, 1000);

