!!!
%html{ lang: 'en'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = csp_meta_tag
    = bootstrap_js
  %body.container-fluid.mh-100
    = show_navbar_if_user_login
    -# %p.notice= notice
    -# %p.alert= alert
    = yield
